<div class="login">

</div>
<form class="login" action="/signup/signup_client" method="post">

  <li><label name="">name</label></li>
  <li><input name="name" type="text"></li>

  <li><label name="">email</label></li>
  <li><input name="email" type="text"></li>


  <li><label name="">mobile number</label></li>
  <li><input name="mobile_number" type="text"></li>

  <li><label name="">password</label></li>
  <li><input name="password" type="password"></li>

  <button>Go</button>

</form>
</div>
