<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Share Au Pair</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <h1>ShareAupair</h1>
  <h2>uber for childcare</h2>
  <%= yield %>

</body>
