<form class="login" action="/session/new" method="post">

  <li><label name="">email</label></li>
  <li><input name="email" type="text"></li>

  <li><label name="">password</label></li>
  <li><input name="password" type="password"></li>

  <button>Go</button>

</form>
