<form class="" action="/session/new" method="post">
  <a href="/">HOME</a>
  <label name="">EMAIL</label>
  <input name="email" type="text">

  <label name="">PASSWORD</label>
  <input name="password" type="password">

  <button>LOG IN</button>

</form>
