
  <!-- client.img_url = params[:img]
  client.children = params[:children]
  client.street_address = params[:street_address]
  if Location.find_by(suburb: params[:suburb])
  client.host = params[:host] -->

    <!-- <label name="">YOUR PROFILE PICTURE</label>
    <input name="picture" type="url">

    <label name="">CHILDREN</label>
    <input name="children" type="text">

    <label name="">AGE</label>
    <input name="children_age" type="integer">

    <label name="">ADDRESS</label>
    <input name="street_address" type="text"> -->
