<form class="" action="/signup/signup_carer" method="post">

  <label name="">NAME</label>
  <input name="name" type="text">

  <label name="">EMAIL</label>
  <input name="email" type="text">

  <label name="">MOBILE NUMBER</label>
  <input name="mobile_number" type="text">

  <label name="">PASSWORD</label>
  <input name="password" type="password">

</form>
