<form class="" action="/signup" method="post">




  <label name="">EMAIL</label>
  <input name="email" type="text">

  <label name="">PASSWORD</label>
  <input name="password" type="password">

  <label name="">CONFIRM PASSWORD</label>
  <input name="password" type="password">

</form>
