<div class="login">
<form class="" action="/signup/signup_carer" method="post">

  <label name="">Name</label>
  <input name="name" type="text">

  <label name="">email</label>
  <input name="email" type="text">

  <label name="">Mobile Number</label>
  <input name="mobile_number" type="text">

  <label name="">Password</label>
  <input name="password" type="password">

  <button>Go</button>

</form>
</div>
